<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio | About Me</title>
    </head>
    <body>
        <p>I just started learning Python through Coding Dojo! So far it seems really really interesting. In my free time I enjoy playing with my animals, playing music, or playing video games. Basically I just like to play things, I guess.</p>
        </ul>
    </body>
</html>