<html>
    <head>
       <title>Ninjas</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Ninjas</h1>
        <h4>What are Ninjas?</h4>
        <p>That is a very good question, {{ name }}. Another good question that you could have asked is, are they even real? Has anyone ever seen a ninja and lived? With these burning questons in mind I bid you farewell.</p>
        <p>'Til next time (or not)! Unless you want me to email you at {{ email }} ;)</p>
        <br>
        <br>
        <a href="/">Return home</a>
    </body>
</html>