<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What's My Name?</title>
    </head>
    <body>
        <h1>Who Are you?</h1>
        <p>If you are to dive to heart, you must first present your name, if circumstances permit:</p>
        <form action='/process' method='post'>
            Name: <input type='text' name='name' placeholder="What can we call you?">
            <input type='submit' value='Present Yourself!'>
        </form>
    </body>
</html>